<div>
  <div style='width: 600px;margin:auto'>
    <img  style='width: 900px' src="https://www.fix.com/assets/content/19576/matrix-gardening-open-graph.png">
  </div>
  <h1 align="center">Welcome to the Garden!</h1>
</div>
